.brands-of-gpt3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  background:black;
  padding:2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; /* Adjust gap as needed */
  width: 100%; 
}

/* Responsive layout */
@media (max-width: 768px) {
  .brand {
    flex-wrap: wrap; /* Allow images to wrap to next line */
    justify-content: space-around;
  }
}
