.gpt3__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    background-color: #f0f0f0; /* Adjust background color as needed */
  }
  
  .gpt3__footer-heading {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .gpt3__footer-heading h2 {
    font-size: 32px; /* Adjust font size as needed */
    text-align: center;
    line-height: 1.2; /* Adjust line height */
    font-weight: 800;
    font-family: var(--font-family);
    color: #E7ACEF;
    margin: 0; /* Remove unnecessary margin */
  }
  
  .gpt3__footer-heading button {
    display: block;
    margin: 2rem auto 0; /* Adjust margin as needed */
    border: 1px solid white;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, font-weight 0.3s;
  }
  .gpt3__footer-heading button:hover {
    background-color: red;
    font-weight: bold;
  }
  
  .gpt3__footer-contents {
    color:#fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 8rem;
    margin-left:1rem;
  }
  
  .gpt3__footer-image-name img {
    width: 100px; /* Adjust image size as needed */
  }
  
  .gpt3__footer-links,
  .gpt3__footer-company,
  .gpt3__footer-getintouch {
    flex: 1;
    text-align: center; /* Center content within each section */
  }
  
  .gpt3__footer-links ul,
  .gpt3__footer-company ul,
  .gpt3__footer-getintouch ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .gpt3__footer-links li,
  .gpt3__footer-company li,
  .gpt3__footer-getintouch li {
    margin-bottom: 1rem;
  }
  
  h4 {
    margin-bottom: 1rem;
    font-size: 20px; /* Adjust font size as needed */
  }
  
  .gpt3__footer-copyright {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .gpt3__footer-copyright p {
    color: #fff;
  }
  
  /* Responsive adjustments */
  @media (max-width: 568px) {
    .gpt3__footer-contents {
        grid-template-columns: 1fr; /* Change to one column for smaller screens */
      }
  }
  